body {
    margin:0;
}

header {
    height: 50px;
    background-color: #52D08E;
}

.header {
    height: 50px;
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 25%;
}

header li {
    display: inline-block;
    padding:0 10px ;

}

nav .burger {
    margin: 0;
}

nav ul {
    padding: 0;
    display: none;
    position: fixed;
    margin: 0;
    width: 180px;
    height: 100%;
    background-color: #52D08E;
    border-top: black 1px solid;
    border-right: black 1px solid;
}

nav li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 0;
    width: 160px;
}

img {
    height: 50px;
    float: left;
    display: none;
}

@media screen and (max-width: 500px){
    header ul {
        display: none;
    }

    img {
        display: block;
    }

    .instructions {
        display: none;
    }
    
}

@media screen and (min-width:500px) {
    nav  {
        display: none;
    }
}